.left-column {
    &__item {
        font-size: 17px;
        line-height: 20px;
        color: #FFFFFF;
    }
    &__button {
        width: 100%;


        font-size: 17px;
        line-height: 20px;
        color: #FFFFFF;
        padding: 9px 10px 9px 48px;
        border-radius: 5px;

        background: transparent;
        border: none;

        cursor: pointer;


        display: flex;
        gap: 18px;

        position: relative;

        img {
            position: absolute;

            left: 17px;
            top:50%;
            transform: translateY(-50%);
            transition: all 0.5s;
        }

        transition: all 0.5s;

        &:hover, &.chosen {
            background: #EEF0F4;
            color: #2F3441;
            img {
                filter: brightness(0.2)
            }
        }

        &--orange {
            color: #F1361D;
            font-weight: 700;

            &:hover,&.chosen {
                color: #F1361D;

                img {
                    filter: none
                }
            }
        }
    }
}