* {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 400;

    color: #313439;

    box-sizing: border-box !important;

    margin: 0;
    padding: 0;

    &::-webkit-scrollbar {
        width: 5px;
        height: 40px;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #313439;
        border-radius: 20px;
    }

    scrollbar-width: thin;
    scrollbar-color: #313439 transition;
}

.app {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}