* {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 400;

    color: #313439;
}

.app {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}