.index__slider {
    width: 100%;
    height: 274px;

    position: relative;

    &:before {
        position: absolute;
        content: '';

        width: 100%;
        height: 1px;
        background-color: #ddd;

        top: 0px;
        left: 0;
        z-index: 5;
    }
    &:after {
        position: absolute;
        content: '';

        width: calc(100% - 35px);
        height: 1px;
        background-color: #ddd;

        bottom: 0px;
        right: 0;
        z-index: 5;
    }

    &-text {
        position: absolute;
        z-index: 999;
        top : 50%;
        left: 35px;
        transform: translateY(-50%);

        margin-right: 35px;
    }

    &-title {
        margin: 0;

        font-weight: 400;
        font-size: 43px;
        line-height: 47px;

        span {
            color: #F1361D;
            font-weight: 700;
        }
    }
    &-descr {
        max-width: 660px;
        width: 100%;
        min-width: 400px;

        margin-top: 22px;
        
        font-size: 17px;
        line-height: 27px;
        text-align: justify;

        strong {
            font-weight: 600;
        }
    }
}

.swiper-slide {
  background-position: right;
  background-size: cover;

  position: relative;
}

.swiper-slide img {

    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}