.product {
    height: 100%;
    padding-bottom: 25px;

    overflow: auto;

    &__attention {
        position: absolute;

        width: 175px;
        height: 175px;
        border-radius: 100%;

        background: #F1361D;
        mix-blend-mode: normal;
        opacity: 0.9;

        bottom: 25px;
        right: 50px;
        z-index: 9;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        color: #fff;

        &-mark {
            font-size: 56px;
            line-height: 20px;

        }
        &-text {
            margin-top: 25px;

            font-size: 14px;
            line-height: 17px;
            text-align: center;

            width: 145px;
        }
    }

    &__icon {
        display: block;
        margin: 22px;
    }
    &__title {
        margin: 26px 22px;

        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: #2F3441;
    }
    &__descr {
        margin: 26px 22px;

        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: #2F3441;
    }

    &__buttons {
        margin: 26px 22px;

        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }

    &__button {
        width: 270px;
        height: 50px;

        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        text-align: center;

        border-radius: 2px;

        transition: all 0.5s;
        cursor: pointer;

        &--blue {
            background: #2F80ED;
            border: none;

            color: #FFFFFF;

            &:hover {
                background: transparent;
                border: 1px solid #2F3441;

                color: #2F3441;
            }
        }
        &--white {
            background: transparent;
            border: 1px solid #2F3441;

            color: #2F3441;

            &:hover {
                background: #2F80ED;
                border-color: transparent;

                color: #FFFFFF; 
            }
        }
    }
}