.contacts-form {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &__input {
        width: 100%;

        padding: 3px 7px;
        background: transparent;
        border: 1px solid #fff;
        color: #fff;

        font-size: 12px;

        &::placeholder {
            color: #fff;
        }
    }
    &__submit {
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
        font-size: 12px;

        padding: 3px 7px;

        border-radius: 5px;
        cursor: pointer;

        transition: all .5s;

        &:hover {
            background-color: #fff;
            color: #313439;
        }
    }
    &__close {
        position: absolute;
        right: -15px;
        top: 0;

        background: transparent;
        border: none;

        cursor: pointer;
    }
}