.left-column__social {
    margin-top: auto;

    display: flex;
    gap: 9px;

    list-style: none;

    &-item {
        transition: all 0.5s;

        &:hover {
            filter:brightness(0.7)
        }
    }
}