.left-column {
    flex-basis: 320px;

    background-color: #313439;

    padding: 53px 43px 37px 37px;

    display: flex;
    flex-direction: column;

    &__logo {
        margin-left: 15px;
        cursor: pointer;
    }
    &__info {
        margin-top: 14px;

        font-size: 13px;
        line-height: 20px;
        color: #FFFFFF;
    }
}